<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    &lt;!&ndash;    android 11新增权限 只能访问媒体文件&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
<!--    &lt;!&ndash;   android 11 能够拜访其他运用的Android/obb 目录。&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />-->
<!--    &lt;!&ndash;    android 11 强制分区存储 老读写权限受限&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

    <application>


        <activity
            android:name=".ui.activity.MeReadyActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />

        <activity
            android:name=".ui.activity.PlaylistDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />

        <activity
            android:name=".ui.activity.TopActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />

        <activity
            android:name=".ui.activity.LocalMusicActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />


    </application>
</manifest>